@model IEnumerable<Models.Order>

@{
    ViewData["Title"] = "ViewOrders";
    Layout = "../Shared/_LayoutCustomer.cshtml";
}

<h1 style="color:mintcream;">ViewOrders</h1>

<div>
    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-area="" asp-controller="Shop" asp-action="SortDate">Date - Oldest to Newest</a>
            <a class="dropdown-item" asp-area="" asp-controller="Shop" asp-action="SortNewDate">Date - Newest to Oldest</a>
        </div>
    </div>
</div>

<br />

<table class="table">
    <thead style="color:mintcream;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="color:mintcream;">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDateTime)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
